<form [formGroup]='passwordResetForm' (ngSubmit)=doRequestPasswordReset()>
  <div class="field">
    <label for="" >Username/Email</label>
    <div class="control has-icons-left">
      <input nbInput formControlName="username" type="text" placeholder="" class="input" required>
      <span class="icon is-small is-left">
        <nb-icon icon="at-outline"></nb-icon>
      </span>
    </div>
  </div>
  
  <div class="field has-text-centered">
    <button nbButton [nbSpinner]="loading" [disabled]="loading" type="submit" status='primary'>
      Request
    </button>
  </div>

</form>


 