<nb-layout>
  <nb-layout-column>
    <section class="hero  is-fullheight">
      <div class="hero-body">
        <div class="container">
          <div class="columns is-centered">
            <div class="column is-5-tablet is-4-desktop is-3-widescreen">
              <nb-card [nbSpinner]="loading">
                <nb-card-header>
                <p class="title is-3 has-text-centered">Reset Password</p>
                </nb-card-header>

                <nb-card-body>
                  <form [formGroup]='newPasswordForm' (ngSubmit)='doPasswordChange()'>
                    <div class="field">
                      <label for="" >New Password</label>
                      <div class="control has-icons-left">
                          <input nbInput fullWidth formControlName="new_password" type="password"  class="input" required>
                        <!-- [status]="(new_password.invalid && new_password.touched)? 'danger' : 'basic'" -->
                        <span class="icon is-small is-left">
                          <nb-icon icon="lock-outline"></nb-icon>
                        </span>
                      </div>

                    </div>
                    <div class="field">
                      <label for="" >Re-enter New Password</label>
                      <div class="control has-icons-left">
                        <input nbInput fullWidth formControlName="re_password" type="password" class="input" required >
                        <span class="icon is-small is-left">
                          <nb-icon icon="repeat-outline"></nb-icon>
                        </span>
                      </div>
                    </div>

                    <div class="field has-text-centered">
                      <button nbButton [disabled]='loading || !newPasswordForm.valid' type="submit" status='primary'>
                        Update Password
                      </button>
                    </div> 
                  </form>
                </nb-card-body>

                <nb-card-footer class="has-text-centered ">
                  
                  <!-- <div *ngIf="(new_password.touched && new_password.invalid) || (re_password.touched && re_password.invalid)">
                    <div *ngIf="new_password.errors.required || re_password.errors.required">
                      No fields can be left empty
                    </div>
                    <div *ngIf="new_password.errors.minlength">
                      Password must be atleast 6 characters
                    </div>
                  </div>
                  <div *ngIf="passwordNotMatched">
                    Password are not matching
                  </div> -->

                </nb-card-footer>
              </nb-card>
            </div>        
          </div>
        </div>
      </div>
      </section>
  </nb-layout-column>
</nb-layout>