<nb-layout>
    
    <nb-layout-header fixed>
        <!-- <button nbButton  status="success" size="tiny" (click)='toggleSidebar()' > toggle</button>
        <button  (click)='doLogout()' >Log out</button> -->
        <app-header></app-header>
    </nb-layout-header>
        
    <nb-sidebar [state]='compactState' tag='left'>
        <app-menu></app-menu>
    </nb-sidebar>

    <nb-layout-column>
        
        <router-outlet></router-outlet>
    </nb-layout-column>
    
    <nb-layout-footer fixed>
        <app-footer></app-footer>
    </nb-layout-footer>

</nb-layout>

